= render 'articles/design'

.references
  %h2#references
    Citations for My Papers
  %ul
    %li
      %a{href:"/article1"} Viner, Jacob. "The Epistemology of System Building." Journal of Political Economy 35.2 (1927): 198. Print. 
    %li
      %a{href:"/article2"} Ahmad, S. "Adam Smith's Four Invisible Hands." History of Political Economy 22.1 (1990): 137-44. Print. 
    %li
      %a{href:"/article3"} Khalil, Elias L. "Adam Smith and Albert Einstein: The Aesthetic Principle of Truth." History of Economics Society Bulletin 11.02 (1989): 222. Print. 
    %li
      %a{href:"/article4"} Macfie, Alec. "The Invisible Hand of Jupiter." Journal of the History of Ideas 32.4 (1971): 595-99. Print. 
    %li
      %a{href:"/article5"} Phillipson, N. T. Adam Smith: An Enlightened Life. New Haven [Conn.: Yale UP, 2010. Print. 
    