/ #nav-wrapper
/   %nav.navbar.navbar-fixed-top
/     .container-fluid
/       / .glyphicon.glyphicon-send.pull-left
/       .pull-left=link_to "openair", '#', id: "logo"
/       .div
/         %button.pull-right.btn.btn-default.navbar-btn{ type:"button" }
/           %a{href:"/citearticles", color: "white"} Cite All Papers
/           %a{ href: "#menu-toggle" } Toggle Menu

/       .collapse.navbar-collapse
/         / %form.navbar-form.form-horizontal.navbar-left{role:"search"}
/         /   .form-group
/         /     %input.form-control{type:"text", placeholder:"Search the stacks"}
       

/ #sidebar-wrapper
/   %ul.sidebar-nav.nav.navbar-nav
/     %li
/       %a{ href: "#", title: "1" }
/         .title
/           The Epistemology of System-Building in Adam Smith's <i>The Wealth of Nations</i> dfdfdf
/         .author
/           L. KAHALIdddd
/     %li
/       %a{ href: "#", title: "1" }
/         .title
/           The Epistemology of System-Building in Adam Smith's <i>The Wealth of Nations</i> dfdfdf
/         .author
/           L. KAHALIL
    
 


%h1
Title
.author
Author
.source
Source
%a{href:"#cite"}
  Cite this paper
#table_of_contents 
Contents
%ul
  %li= link_to "Section 1", '#'
  %li= link_to "Section 2", '#'
#content
.section
  %h3 Section 1
  %p
    Paragraph 1
.section
  %h3 Section 2
  %p
    Paragraph 1
.references
#citation
  %h3 Cite this paper
  %ul
    %li
      %a{ href: "#" }
        Macfie, Alec. "The Invisible Hand of Jupiter." Journal of the History of Ideas 32.4 (1971): 595-99. Print.
#bibliography
  %h3 Bibliography
  %ul
    %li
      %a{ href: "#" }
        Macfie, Alec. "The Invisible Hand of Jupiter." Journal of the History of Ideas 32.4 (1971): 595-99. Print.
  %ul
    %li
      %a{ href: "#" }
        Macfie, Alec. "The Invisible Hand of Jupiter." Journal of the History of Ideas 32.4 (1971): 595-99. Print.







