#signed-out-home
  .row
    .col-xs-6
      = image_tag("highlight.jpeg")
    .col-xs-6
      %h1#headline Highlight and annotate articles with one click
      = link_to "Get Started", user_omniauth_authorize_path(:facebook), :class => "openair-btn btn navbar-btn"