.home
	%h3 Hi Rachel,

	%p
		Thanks for taking OpenAir for a test-drive. OpenAir is a little guy with big dreams! It’s the online bookshelf that lets you read, quote, and cite your research in one click. Unlike traditional research databases, it provides a clean interface that takes care of the busy work so that you can focus on the stuff that matters.

	%p
		%ul.icon-list.ok-sign
			%li 
				%b Store 
				all of your research in one place. 
				%br
					%b.openair-blue 
						ProTip:
					Find out what your articles will look like on OpenAir by clicking one of the articles to the left.
			%li 
				%b Read and write side-by-side 
				on your laptop, as articles adjust to the size of the browser.
				%br
				%b.openair-blue
					ProTip:
				Experience the magic right now by resizing this homepage.
			%li 
				%b Cite 
				all of your articles with one click (no joke).
				= link_to "Click here to try it out", citations_path, class: "openair-btn btn"
			%li 
				%b Copy and paste 
				passages right into your Word document. No more stubborn PDFs!


	%p
		To get started, all you have to do is drop your research articles into the OpenAir Dropbox, which you can find in your email. Your research will appear in place of the articles on the left in less than 24 hours, all easily readable and searchable, much like a Wikipedia article. Then, it’s time to get to work!

	%p 
		Of course, for now, there’s a lot that OpenAir <i>doesn’t</i> do. I invite you to use your imagination to help me fill in the gaps. This site is for you and together we can cut out the time-wasters and unneeded stress from thesis research. With your feedback, you can expect to find improvements to OpenAir every single day. 

	%p 
		Please text or email me with questions and feedback. Unless I’m sleeping, you can count on a response in under an hour.

	%p
		Sincerely,
		%br
		=image_tag("signature.png", size: "160x60", alt: "Signature")
		%br
		Ethan
	%p
		ph: (847) 494-2629
		%br
		em: ethanbarhydt@gmail.com
		


