.home
  %div#article
  %h3
    Hi
    = current_user.first_name
    \-

  %p
    Welcome to OpenAir! Highlight and annotate articles in one click. 
  .row
    .col-xs-6.gov
      %h4 Gov 2158: Political Institutions and Economics Policy 
      =link_to "(Syllabus)", "http://isites.harvard.edu/fs/docs/icb.topic1481856.files/Gov%202158%20Spring%202015%20w%20Miller%20Whitford.pdf"
      %h4
        %i February 2
      %ol
        %li
          =link_to "Dennis Mueller, Public Choice (Link to PDF - not on openair)", 'http://isites.harvard.edu/fs/docs/icb.topic1481855.files/February%2002/Public%20Choice%20III.pdf'
        %br
        %li
          =link_to "Gary Miller, 'The Political Evolution of Principal-Agent Models'", article_path(Article.find_by(id:"12"))
        %br
        %li
          =link_to "John D. Huber and Charles R. Shipan, 'Politics, Delegation, and Bureaucracy'", article_path(Article.find_by(id:"7"))
        %br
        %li
          =link_to "James Fearon, 'Electoral Accountability and the Control of Politicians: Selecting Good Types versus Sanctioning Poor Performance'", article_path(Article.find_by(id:"13"))

    .col-xs-6.phil
      %h4 Phil 1000: Philosophy of Quantum Mechanics (Syllabus)

      %ol
        %li
          =link_to "Albert & Ney 'The Wave Function' Chapter 1", article_path(Article.find_by(id:"9"))

        %li
          =link_to "Feyman: Lectures on Physics, Quantum Behavior", article_path(Article.find_by(id:"8"))

        %li
          =link_to "Tim Maudlin, Three Measurement Problems", article_path(Article.find_by(id:"10"))


  / %p
  /   %ul.icon-list.ok-sign
  /     %li 
  /       %b Store 
  /       all of your research in one place. 
  /       %br
  /         %b.openair-blue 
  /           ProTip:
  /         Find out what your articles will look like on OpenAir by clicking one of the articles to the left.
  /     %li 
  /       %b Read and write side-by-side 
  /       on your laptop, as articles adjust to the size of the browser.
  /       %br
  /       %b.openair-blue
  /         ProTip:
  /       Experience the magic right now by resizing this homepage.
  /     %li 
  /       %b Cite 
  /       all of your articles with one click (no joke).
  /       = link_to "Click here to try it out", citations_path, class: "openair-btn btn"
  /     %li 
  /       %b Copy and paste 
  /       passages right into your Word document. No more stubborn PDFs!


  / %p
  /   To get started, all you have to do is drop your research articles into the 
  /   - if current_user.box
  /     = link_to "OpenAir Box (Dropbox folder).", current_user.box
  /   - else
  /     OpenAir Box, which you can get to from your email.
  /   Your research will appear in place of the articles on the left in less than 24 hours, all easily readable and searchable, much like a Wikipedia article. Then, it’s time to get to work!

  / %p 
  /   Of course, for now, there’s a lot that OpenAir <i>doesn’t</i> do. I invite you to use your imagination to help me fill in the gaps. This site is for you and together we can cut out the time-wasters and unneeded stress from thesis research. With your feedback, you can expect to find improvements to OpenAir every single day. 

  / %p 
  /   Please text or email me with questions and feedback. Unless I’m sleeping, you can count on a response in under an hour.

  / %p
  /   Sincerely,
  /   %br
  /   =image_tag("signature.png", size: "160x60", alt: "Signature")
  /   %br
  /   Ethan
  / %p
  /   ph: (847) 494-2629
  /   %br
  /   em: ethanbarhydt@gmail.com
    


