.home#signed-out
	%h1 Got a lot on your plate?

	%p 
		For the thesis writer with a hundred things to do, 
		%span.openair OpenAir 
		is the online bookshelf that lets you read, quote and cite your research in one click. Unlike traditional research databases, OpenAir provides a clean interface that takes care of the busywork so that you can focus on the stuff that really matters.

	= link_to "Get Started", user_omniauth_authorize_path(:facebook), :class => "openair-btn btn navbar-btn"