.home
	%p#hello Hi Rachel,

	%p Thanks for taking OpenAir for a test-drive. OpenAir is a little guy with big dreams. It’s the online bookshelf that lets you read, quote and cite your research in one click. Unlike traditional research databases, it provides a clean interface that takes care of the busywork so that you can focus on writing your thesis.

	%p 
		To get started, check you inbox for an email from me. Follow the link to the dropbox folder, upload your research articles, and go have a drink. It may take up to 24 hours to convert your articles to the Wikipedia-like format of all OpenAir articles. Then it's time to get to work:

	%p
		%ul.highlight
			%li 
				%span 
					%b Read and write side-by-side 
					on your laptop, as articles adjust to the size of the browser. (Try resizing this homepage)
			%li 
				%span 
					%b Cite all of your articles 
					with 
					%b
						= link_to "one click.", citations_path
			%li 
				%span
					%b Copy/paste passages right into your word document. 
					No more stubborn PDFs.



	%p Of course, there’s a lot that OpenAir <i>doesn’t</i> do. For now, you’ll have to use your imagination to fill in the gaps. With the help of your feedback, you can expect to find new improvements to the site every single day. 

	%p Please text or email me with questions and comments. You can usually count on on a response from me in an hour or less.

	%p
		Sincerely,
		%br
		=image_tag("signature.png", size: "160x60", alt: "Signature")
		%br
		Ethan
	%p
		ph: (847) 494-2629
		%br
		em: ethanbarhydt@gmail.com
		


