@import "bootstrap-sprockets";
@import "bootstrap";
$light-gray: #777;

// ********************
//       GLOBAL
// ********************

html {
	overflow-y: scroll;
}

body { 
	padding-top: 50px;
	padding-right: 15px;
    padding-left: 15px;
    font-family: Serif;
}

ul {
	list-style: none;
	padding: 0;
}

.author {
	text-transform: uppercase;
}

.openair-btn{
    background: #179ac8;
    text-decoration: none;
    color: white;
    &:hover{
        border-color: #B8B8B8;
        background: #179ac8;
        color: white;
    }
    &:visited{
        color: white;
    }
}

// ********************
// NAVBAR -- HORIZONTAL
// ********************

.navbar-fixed-top {
	background: white;
	border-bottom: 1px solid #ccc;
    padding-right: 15px;

}


// ********************
//      WRAPPER
// ********************

#wrapper {
    padding-left: 0;
    // -webkit-transition: all 0.5s ease;
    // -moz-transition: all 0.5s ease;
    // -o-transition: all 0.5s ease;
    // transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 250px;
}

// ********************
//      SIDEBAR
// ********************

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #f5f5f5;
    box-shadow: 2px 0px 0px #ccc;
    // -webkit-transition: all 0.5s ease;
    // -moz-transition: all 0.5s ease;
    // -o-transition: all 0.5s ease;
    // transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    // text-indent: 20px;
    border-bottom: 2px solid #ccc;
    width: 100%;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: .8em;
    line-height: 15px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    // color: blue;
    // background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}


// ********************
//    PAGE CONTENT
// ********************

#page-content-wrapper {
    width: 100%;
    padding-top: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

#table_of_contents {
	background: #f5f5f5;
	margin-bottom: 25px;
}

.references
	li {
	margin-bottom: 10px;
	padding-left: 22px; // hanging indent
	text-indent: -22px; // hanging indent
	}


// ********************
//    TYPOGRAPHY
// ********************


h1, h2 {
	letter-spacing: -2px;
	margin-bottom: 25px;
	font-size: 2em;
    margin-top: 0px;
}

h3{
    font-size: 1.5em;
    margin-top: 0px;
}
#logo {
  font-family: Circular;
  font-size: 2em;
  color: #179ac8;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
  	text-decoration: none;
  }
}

// ********************
//        MEDIA
// ********************
 
@media(min-width:780px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
