#nav-wrapper
  %nav.navbar-fixed-top.navbar-default
    .container-fluid
      .pull-left= link_to "openair", root_path, id: "logo"
      .navbar-right.pull-right
        - if user_signed_in?
          = link_to "Sign Out", destroy_user_session_path, method: :delete, :class => "openair-btn btn navbar-btn"
        - else 
          = link_to "Sign In", user_omniauth_authorize_path(:facebook), :class => "openair-btn btn navbar-btn"
        / = link_to "Toggle Menu", "#menu-toggle", :class => "openair-btn btn navbar-btn"

      / %div
      /   %button.navbar-right.btn.btn-default.navbar-btn{ type:"button" }
      /     %a{href:"/citearticles", color: "white"} Cite All Papers
      /     %a{ href: "#menu-toggle" } Toggle Menu
      / %div
      /   %ul
      /     %li.pull-right
            
      / .collapse.navbar-collapse
      /   / %form.navbar-form.form-horizontal.navbar-left{role:"search"}
      /   /   .form-group
      /   /     %input.form-control{type:"text", placeholder:"Search the stacks"}

      

