#nav-wrapper
  %nav.navbar.navbar-fixed-top
    .container-fluid
      / .glyphicon.glyphicon-send.pull-left
      .pull-left=link_to "openair", '#', id: "logo"
      = link_to "Sign out", destroy_user_session_path, method: :delete
      .div
        %button.pull-right.btn.btn-default.navbar-btn{ type:"button" }
          %a{href:"/citearticles", color: "white"} Cite All Papers
          %a{ href: "#menu-toggle" } Toggle Menu

      .collapse.navbar-collapse
        / %form.navbar-form.form-horizontal.navbar-left{role:"search"}
        /   .form-group
        /     %input.form-control{type:"text", placeholder:"Search the stacks"}

      