#sidebar-wrapper
  %ul.sidebar-nav.nav.navbar-nav
    %li
      = link_to "Cite my articles", citations_path
    =render partial: 'shared/shelf_item', collection: current_user.articles #collection refers to variable name in controller


